// =======================================================================//
// CONNECTING FONTS                                                       //
// =======================================================================//

/* connecting google fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

/* Identify Fonts*/
$main-font: 'Raleway', sans-serif;

// =======================================================================//
// RESPONCIVE MIX IN                                                      //
// =======================================================================//

/*for add responcive rules use @include respond-to(sm) {}  */

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 481px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == md {
   @media only screen and(max-width: 991px) { @content; }
  }
  @else if $media == lg {
   @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1300px) { @content; }
  }
}

// variables
$black: #000;
$blue: #29b6f6;
$white: #fff;

// =======================================================================//
//    System-wide configuration classes and the vertical rhythm           //
// =======================================================================//

html {
    font-family: $main-font;
    font-size: 16px;


}

body {

    /* VEBKIT FONT SMOOTHINF */
    -webkit-font-smoothing: subpixel-antialiased;
}

button, select {-webkit-appearance: none;}

/* ALL IMAGE ARE RESPONCIVE */
img {width: 100%; height: auto;}


/* SYSTEM MODIFICATORS */
.np {padding: 0;} /* no padding */
.np-l {padding-left:0;} /* no padding left */
.np-r {padding-right:0;} /* no padding right */
.dp {padding:0 30px;} /* double padding */
.nm {margin:0;} /* no margin */
.nm-b {margin-bottom:0;} /* no margin bottom */

/* FLOAT CLEAR */
.clear {clear: both;}


// =======================================================================//
// TYPOGRAPHY STYLE                                                       //
// =======================================================================//

/* PARAGRAPH */
p {
    font-family: $main-font;
    color: lighten($black, 45);
    line-height: 1.35;
    letter-spacing: 1px;
    margin-bottom: 0.5em;    
}

small, .small {}
strong, .strong {}
em, .em {}

a {
    &:hover, &:focus, &:active, &:active:focus {outline: none;}
    text-decoration: none;
    color: lighten($black, 45);
    font-family: $main-font;
    &:hover {
        color: $blue;
    }
    &:active {
        color: $blue;
    }
    transition: all 0.3s;
}

h1, h2, h3 {
    margin: 0.5rem 0 1rem 0;
    color: lighten($black, 20);
    a {
        color: inherit!important;
        color: in
    }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}

/* address */
address, .address {

    strong {}
    a {}
}
// lists
.list-inline {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
    }
}
// =======================================================================//
// BUTTONS                                                                //
// =======================================================================//
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}
.btn-more {
    margin: 0.5rem 0;
    border: 2px solid lighten($black, 20);
    color: lighten($black, 20);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 4px;
    &:hover, &:active, &:focus, &:active:focus {
        background: $blue;
        border: 2px solid $blue;
        color: $white;
    }
}
// =======================================================================//
// FORMS                                                                  //
// =======================================================================//

// PLACEHOLDER MIX-IN
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

/*  LABELS (for .form-group)
----------------
.has-success
.has-warning
.has-error
.has-feedback - for icons*/

    label {}

/*
HTML5 input types: text, text, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, и color.

*/

.form {

    .form-group {

        .control-label {

        }

        .input_wrapper {

            select {}
        }

        .input-group-addon {}

        /* The general style input, textarea, select */
        .form-control {

            /* hack anti mobile zoom */
            font-size: 16px;

            &:focus,
            &:active:focus {
                border: none;
                box-shadow: none;
            }
        }

        /* Style for checkboxes*/
        .checkbox {
            /* use .checkbox-inline for inline checkbox*/
            label {
                input {

                }
            }
        }
        /* Style for radiobutton */
        .radio {
            /* use .radio-inline for inline radiobutton */
            label {
                input {

                }
            }
        }

        .form-control-static {

        }

        .help-block {

        }
    }

    .has-success {
        .control-label {}
        .form-control {}
    }
    .has-warning {
        .control-label {}
        .form-control {}
    }
    .has-error {
        .control-label {}
        .form-control {}
    }

    .has-feedback {
        .glyphicon {

        }
    }
}








