<section class="app-prew">
	<article>
		<figure>
			<img src="app-logo.png" alt="app-logo">
		</figure>
		<div class="app-text">
			<h2>Smoke Free</h2>
			<div class="price-info">
				<i class="icon icon-usd"></i><a href="#" class="price"></a><a href="#" class="price"></a>
			</div>
			<p>
				Even today with all the latest advancements in technology and our way of living, steering away from an unhealthy habit can be really tough. Smoking is one of those habits that not only damage your body but also cost a relative amount of money on a constant basis. However, few people manage to stop smoking successfully, and that is more than discouraging...
			</p>
			<a href="#" class="read-more">Read more</a>
		</div>
	</article>
</section>