<section class="blogroll-prev">
	<article>
		<h2><a href="#">Smoking causes irreparable harm to the human body</a></h2>
		<figure>
			<img src="/img/article-1.png" alt="the harm of smoking on the nervous system">
		</figure>
		<p>
			Has a smoker ever wondered at least for a second about the processes that are taking place in his body and about the harm smoking does to it? Probably not. But he should!
		</p>
		<p>
			The smoke of 20 cigarettes (which is the usual heavy smoker’s daily dose) contains 130 mg of nicotine, 45 g of ammonia, 0.7-1.1 mg of hydrocyanic acid, 0.6 l of carbon monoxide and many other toxic substances.
		</p>
		<p>These substances cause irreparable harm to the human body. Doctors have proved that a smoker’s average life expectancy is nine years less than a non-smoker’s
		</p>

		<button class="btn btn-more"><i class="icon icon-hand"></i>Lets Disqus</button>
	</article>
</section>