<section class="article-prew">
	<article>
		<h2><a href="#">THE HARM OF SMOKING ON THE NERVOUS SYSTEM</a></h2>
		<figure>
			<img src="/img/article-1.png" alt="the harm of smoking on the nervous system">
		</figure>
		<p>
			Of all the systems of the body, the nervous system primarily suffers from smoking. The nervous system controls all the processes occurring in our body. It is responsible for connecting the body with the internal and external environment.
		</p>
		<button class="btn btn-more"><i class="icon icon-hand"></i> Read More</button>
	</article>
</section>