<section class="form">
	<form method="post" action="" id="contact-form">
		<label for="name" class="sr-only">name</label>
      	<input type="text" name="name" id="name" size="40" maxlength="60" placeholder="Your Name" />
      	<label for="email" class="sr-only">email</label>
      	<input type="email" name="email" id="email" size="40" maxlength="40"  placeholder="Your Email" />
      	<label for="comments" class="sr-only">comments</label>
      	<textarea cols="40" rows="10" id="comments" name="comments"  placeholder="Your Message"> </textarea>
		<button class="btn btn-primary btn-big" type="submit" name="submit" id="submit"  value="Send Email"></button>
   </form>
</section>