<!doctype html>
<html class="no-js">
    <head>
        <meta name="robots" content="noindex">
        <title>webapp</title>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="Best androind and IOS apps to quit smoking">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0,">
        
        <!-- OG  -->
        <meta property="og:url" content="">
        <!-- 968×504 -->
        <meta property="og:image" content="/images/og-image.png">
        <meta property="og:title" content="webapp">
        <meta property="og:description" content="">
        <!-- SHEMA -->
        <script type='application/ld+json'>
            {
                "@context": "http://www.schema.org",
                "@type": "blog",
                "brand": "stopsmokingapps",
                "name": "stopsmokingapps.com",
                "image": "/images/og-image.png",
                "description": "Best androind and IOS apps to quit smoking"
              }
        </script>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
        
        <link rel="amphtml" href="https://www.alexkras.com/19-git-tips-for-everyday-use/amp/" />
        
        <!-- build:css styles/main.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
